{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<!-- Shopping bag -->
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Bag <i class="fas fa-shopping-basket"></i></h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- Shopping bag contents -->
            {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Product Information</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in bag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                        </td>
                        <td class="py-3 w-15">
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                <!-- Ensures only forms from trusted domains can be used to POST data back -->
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <!-- Quantity selector -->
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm btn-outline-green rounded-3" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-minus-circle fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-outline-green rounded-3" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus-circle fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Update quantity button -->
                            <a class="update-qty text-info"><i class="fas fa-pencil-alt"></i></a>
                            <!-- Remove item button -->
                            <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><i class="fas fa-trash-alt"></i></a>
                        </td>
                        <!-- Calculates shopping bag subtotal -->
                        <td class="py-3">
                            <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <!-- Calculates order costs -->
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>Shopping Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                            <h6>+ Delivery Cost: €{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                Spend <strong>€{{ free_delivery_delta }}</strong> more to get free delivery!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <!-- Return to Products view button -->
                            <a href="{% url 'products' %}" class="btn btn-outline-green rounded-3 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Continue Shopping</span>
                            </a>
                            <!-- Complete order button -->
                            <a href="{% url 'checkout' %}" class="btn btn-black rounded-3 btn-lg">
                                <span class="font-weight-bold text-uppercase">Complete Order</span>
                                <span class="icon">
                                    <i class="fas fa-cash-register"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <!-- Empty shopping bag -->
            <p class="lead mb-5">Your shopping bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-green rounded-3 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Continue Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

<!-- Item quantity selector JS -->
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/input_quantity_script.html' %}

<script type="text/javascript">
    // Updates quantity on button click
    $('.update-qty').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Removes item and reloads page on button click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url)
            .done(function() {
                location.reload();
            });
    })
</script>

{% endblock %}