{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 logo-image">
        <div class="col col-md-6 my-auto">
            <!-- siopa worldwide logo -->
            <img src="https://github.com/alandoherty95/siopa_worldwide/blob/master/media/siopa-logo.png?raw=true" alt="Siopa Worldwide Logo">
        </div>
        <div class="col col-md-5 my-auto">
            <!-- description & delivery offer -->
            <h2>Your favourite Irish products delivered anywhere in the world!</h2>
            <h3 class="my-3 delivery-offer"><strong>Free delivery on all orders over €{{ free_delivery_threshold }}!</strong></h3>
            <!-- call to action button -->
            <a href="{% url 'products' %}" class="shop-now-button rounded-3 btn btn-x2 py-3 my-3">SHOP NOW</a>
        </div>
    </div>
</div>
{% endblock %}