{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-90">
    <div class="row h-90 home-screen">
        <div class="col-sm-12 col-md-6 my-auto">
            <!-- Siopa Worldwide logo -->
            <img src="https://github.com/alandoherty95/siopa_worldwide/blob/master/media/siopa-logo-home.png?raw=true" class="logo-image" alt="Siopa Worldwide Logo">
        </div>
        <div class="col-sm-12 col-md-6 my-auto">
            <!-- Description & delivery offer -->
            <h2 class="greeting">Your favourite Irish products delivered anywhere in the world!</h2>
            <h3 class="my-3 greeting offer"><strong>Free delivery on all orders over €{{ free_delivery_threshold }}!</strong></h3>
            <!-- Call to action button -->
            <a href="{% url 'products' %}" class="shop-now-button rounded-3 btn btn-x2 py-3 my-3">SHOP NOW</a>
        </div>
    </div>
</div>
{% endblock %}