html {
    height: 100%;
}

.navbar {
    padding: 0;
}

.logo-style {
    font-family: 'Indie Flower', cursive;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
}

.greeting {
    padding: 2px;
    font-size: 2.2rem;
    font-weight: 900;
    text-transform: uppercase;
}

.offer {
    color: #169B62;
}

.main-logo-link {
    width: fit-content;
}

.home-screen {
    padding-top: 10rem;
}

.logo-image {
    height: 20rem;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100% !important;
}

/* Buttons */

.shop-now-button {
    background: #169B62;
    color: #ffffff;
    padding: 2rem;
    letter-spacing: 2px;
    border: 2px solid #ffffff;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #ffffff;
    color: #169B62;
    border: 2px solid #169B62;
}

.btn-black {
    background: #000000;
    color: #ffffff;
    letter-spacing: 1px;
}

.btn-outline-green {
    background: #169B62;
    color: #ffffff !important;
    border: 1px solid #ffffff;
    letter-spacing: 1px;
}

.btn-outline-green:hover,
.btn-outline-green:active,
.btn-outline-green:focus {
    background: #ffffff;
    color: #169B62 !important;
    border: 1px solid #169B62;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #ffffff;
    color: #000000 !important;
    border: 1px solid #000000;
}

.card-img-top {
    width: auto;
    height: 12rem;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #169B62;
    color: #ffffff !important;
}

.btt-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
    border: 2px solid #169B62;
}

.update-qty,
.remove-item {
    cursor: pointer;
}

.text-info {
    color: #169B62 !important;
}

/* Convenience classes from Bootstrap */
.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.bag-notification {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 88px;
    right: 18px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Fixed top navbar only on medium screens and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Top padding when navbar collapses on mobile devices */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}