html {
    height: 100%;
}

.logo-style {
    font-family: 'Indie Flower', cursive;
}

body {
    font-family: 'Oswald', sans-serif;
}

#delivery-banner {
    background-color: #169B62;
}

/* Bulma, icons stay consistent in size and alignment */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

/* Buttons */

.shop-now-button {
    background: #169B62;
    color: #ffffff;
    min-width: 360px;
    border: 2px solid #169B62;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #ffffff;
    color: #169B62;
    border: 2px solid #169B62;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-green {
    background: white;
    color: #169B62 !important;
    border: 1px solid #169B62;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #169B62 !important;
    color: #fff !important;
}

.btt-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 12px;
    right: 12px;
}

.btt-link {
    cursor: crosshair;
    border: 2px solid #169B62;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Fixed top navbar only on medium screens and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Top padding when navbar collapses on mobile devices */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}