html {
    height: 100%;
}

.navbar {
    padding: 0;
}

.logo-style {
    font-family: 'Indie Flower', cursive;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
}

h2.greeting {
    padding: 2px;
    font-size: 2.8rem;
}

h3.greeting {
    padding: 2px;
    font-size: 2.4rem;
    font-weight: 900;
}

.offer {
    color: #169B62;
}

.main-logo-link {
    width: fit-content;
}

.home-screen {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.logo-image {
    height: 20rem;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100% !important;
}

/* Buttons */

.shop-now-button {
    background: #169B62;
    color: #ffffff;
    padding: 2rem;
    letter-spacing: 2px;
    border: 2px solid #ffffff;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #ffffff;
    color: #169B62;
    border: 2px solid #169B62;
}

.btn-black {
    background: #000000;
    color: #ffffff;
    letter-spacing: 1px;
}

.btn-outline-green {
    background: #169B62;
    color: #ffffff !important;
    border: 1px solid #ffffff;
    letter-spacing: 1px;
}

.btn-outline-green:hover,
.btn-outline-green:active,
.btn-outline-green:focus {
    background: #ffffff;
    color: #169B62 !important;
    border: 1px solid #169B62;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #ffffff;
    color: #000000 !important;
    border: 1px solid #000000;
}

.card-img-top {
    width: auto;
    height: 12rem;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #169B62;
    color: #ffffff !important;
}

.btt-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
    border: 2px solid #169B62;
}

.update-qty,
.remove-item {
    cursor: pointer;
}

.text-info {
    color: #169B62 !important;
}

/* ----------------------------------------------------  Footer */

footer {
    margin-top: auto;
}

.footer-container {
    border-top: 2px solid #000000;
    max-height: 3rem;
}

.footer-row {
    left: 0;
    bottom: 0;
    width: 100%;
    position: sticky;
    text-align: center;
    padding-top: 10px;
}

.contact-link a {
    text-decoration: none;
    color: #000000;
}

.contact-link a:hover {
    text-decoration: none;
    color: #169B62;
}

/* Convenience classes from Bootstrap */
.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.bag-notification {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 88px;
    right: 18px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

/* Allauth form styling */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000000;
}

/* Hides labels on everything except for the remember me checkbox on login page */
.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* bootstrap button */
    display: inline-block;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000000;
    border: 1px solid #000000;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 12%;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #ffffff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #169B62;

}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 12%;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 12%;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {

    /* Fixed top navbar only on medium screens and up */
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .greeting {
        font-size: 1.5rem;
    }
}

@media (max-width: 991px) {

    /* Top padding when navbar collapses on mobile devices */
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .greeting {
        font-size: 1.5rem;
    }
}