<!DOCTYPE html>
<footer>
    <div class="container-fluid footer-container">
        <div class="row footer-row">
            <!-- Copyright section -->
            <div class="col-12 col-sm-6">
                <div class="text-muted">&copy; Doherty 2021</div>
            </div>
            <!-- Mail to link -->
            <div class="col-12 col-sm-6">
                <div class="contact-link"><a href="mailto:alandoherty95@gmail.com">Contact Us</a></div>
            </div>
        </div>
    </div>
</footer>