{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid mb-2">
    <div class="row">
        <div class="col">
            <h2 class="logo-style mt-3">Siopa Worldwide Blog</h2>
            <hr>
        </div>
    </div>
    <!-- Blog container -->
    <section>
        <div class="container">
            {% for post in posts %}
            <div class="row">
                <div class="col-10 offset-1">
                    <h2 class="text-success">{{ post.title }}</h2>
                    <small>
                        <p>{{ post.body }}</p>
                    </small>
                </div>
            </div>

            <div class="row">
                <div class="col-10 offset-1">
                    <!-- Edit & delete buttons for admin only-->
                    {% if request.user.is_superuser %}
                    <small>
                        <a href="{% url 'edit_blogpost' post.id %}" class="text-warning" title="Edit post">Edit</a> |
                        <a href="{% url 'delete_blogpost' post.id %}" class="text-danger" title="Delete post">Delete</a>
                    </small>
                    {% endif %}
                </div>
            </div>

            {% if post.image %}
            <a href="{% url 'blogpost_detail' post.id %}">
                <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
            </a>
            {% else %}
            <a href="{% url 'blogpost_detail' post.id %}">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}">
            </a>
            {% endif %}

            <!-- Layout for blogpost with image -->
            {% if post.image %}
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="m-auto">
                        <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
                    </div>
                </div>

                <div class="col-10 offset-1">
                    <p class="mb-1">{{ post.intro }}</p>
                    <a href="{% url 'blogpost_detail' post.id %}" class="btn btn-outline-green rounded-3 float-right">View Post</a>
                </div>
            </div>

            {% else %}
            <!--layout for blogpost without image-->
            <hr>
            <div class="row">
                <div class="col-10 offset-1">
                    <p class="mb-1">{{ post.intro }}</p>
                    <a href="{% url 'blogpost_detail' post.id %}" class="btn btn-outline-green rounded-3 float-right mt-2">View Post</a>
                </div>
            </div>
            {% endif %}
            <hr>
            {% endfor %}
        </div>
    </section>

    {% endblock %}