{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col mt-3">
            <h2 class="logo-style mt-3">Siopa Worldwide Blog</h2>
            <hr>
        </div>
    </div>
    <!-- Blog container -->
    <div class="row">
        <div class="container">
            {% for post in posts %}
            <div class="row">
                <div class="col-4">
                    <h2 class="text-success">{{ post.title }}</h2>
                </div>
                <div class="col-4">
                    <p>{{ post.intro }}</p>
                    <a href="{% url 'post_detail' post.id %}" class="btn shop-btn rounded-3">View Post</a>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>

    {% endblock %}