{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="shadow-for-nav"></div>

<div class="container flex-fill">
    <div class="row header my-6">
        <div class="col">
            <h1 class="logo-style mt-3">Siopa Worldwide Blog</h1>
        </div>
    </div>
    <div class="row">
        <div class="col my-3">
            <div class="card mb-2 border rounded-3">
                <div class="card-body">
                    <!-- Blog Post Content -->
                    <h4 class="card-title"><a href="{{post.slug}}" class="text-success">{{blogpost.title}}</a></h4>
                    <p class="card-text">{{blogpost.subtitle}}</p>
                    <p>{{blogpost.body}}</p>
                    <!-- Date -->
                    <p class="card-text"><small class="text-muted">Posted on: {{blogpost.created_at|date:'F j, Y, g:i a'}}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row ml-1 mt-2">
        <a href="{% url 'products' %}" class="btn btn-outline-green rounded-3 btn-lg">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">View all blog posts</span>
        </a>
    </div>
</div>

{% endblock %}