{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta description -->
    <meta name="description" content="Online store selling popular Irish food and beverages!">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Indie Flower Font -->
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <!-- Oswald Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Application title -->
    <title>Siopa Worldwide</title>
</head>

<body>

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center mx-auto bg-black">
                    <!-- Siopa Worldwide logo -->
                    <img src="https://github.com/alandoherty95/siopa_worldwide/blob/master/media/siopa-logo-home.png?raw=true" class="logo-image" alt="Siopa Worldwide Logo">
                </div>
            </div>
        </div>
    </header>

    <main>

        {% block  error_content %}
        {% endblock %}


        <div class="row">
            <div class="col-12 mb-2 text-center">
                <h3 class="mt-2"> Ooops! Seems we took a wrong turn!</h3>
            </div>

            <div class="col-12 text-center">
                <p>Let's get you back home safely!</p>
                <a href="{% url 'home' %}" class="shop-now-btn btn-lg rounded-0 text-uppercase">
                    Back to Shop
                </a>
            </div>
        </div>
    </main>
</body>

</html>